<%- include('../layouts/admin/header.ejs') %>
<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Edit User</h6>
        <form action="" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Name</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="name"
              value="<%= user.name %>"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Username</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="username"
              value="<%= user.username %>"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Name</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
              value="<%= user.email %>"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Phone</label
            >
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="mobile"
              value="<%= user.mobile %>"
            />
          </div>

          <button type="submit" class="btn btn-primary">save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Form End -->
<%- include('../layouts/admin/footer.ejs') %>
