<%- include('../layouts/admin/header.ejs') %>

<div class="col-12">
  <div class="bg-light rounded h-100 p-4">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th id="allSelector" scope="col">All<input class="form-check-input" type="checkbox" value="" id="selectAll"></th>
            <th scope="col">Sl</th>
            <th scope="col">Order ID</th>
            <th scope="col">User</th>
            <th scope="col">Price</th>
            <th scope="col">Payment Method</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Order Status</th>
            <th scope="col">Date</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <% if(order.length > 0) { %>
            <% for(let i = 0; i < order.length; i++) { %>
              <tr>
                <td><input class="form-check-input order-checkbox" type="checkbox" value="<%= order[i]._id %>" id="flexCheckDefault"></td>
                <td><%= i + 1 %></td>
                <td><%= order[i]._id %></td>
                <td><%= order[i].userId.name %></td>
                <td><%= order[i].totalAmount %></td>
                <td><%= order[i].payment.paymentMethod %></td>
                <td class="status">
                  <% if(order[i].payment.status === 'pending') { %>
                    <button class="btn btn-danger"><a href="/admin/updatePaymentStatus?id=<%= order[i]._id %>" class="text-light">Pending</a></button>
                  <% } else { %>
                    <button class="btn btn-success text-light"><a href="/admin/updatePaymentStatus?id=<%= order[i]._id %>" class="text-light">Paid</a></button>
                  <% } %>
                </td>
                <td>
                  <% if(order[i].status !== 'Cancelled' && order[i].status !== 'Delivered') { %>
                    <%= order[i].status %>
                    <select id="changeStatus-<%= order[i]._id %>" onchange="updateStatus('<%= order[i]._id %>')">
                      <option value="changeStatus">Change Status</option>
                      <option value="Shipped">Shipped</option>
                      <option value="Out-For-Delivery">Out For Delivery</option>
                      <option value="Delivered">Delivered</option>
                      <option value="Cancelled">Cancel</option>
                    </select>
                  <% } else { %>
                    <%= order[i].status %>
                  <% } %>
                </td>
                <td><%= order[i].DateOrder %></td>
                <td>
                  <button class="btn btn-info"><a href="/admin/orderDetails?id=<%= order[i]._id %>" class="text-light">Details</a></button>
                </td>
              </tr>
            <% } %>
          <% } else { %>
            <tr>
              <td colspan="10">No orders found</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ul class="pagination">
  <% for (let i = 1; i <= totalPages; i++) { %>
  <li class="page-item <%= i === currentPage ? 'active' : '' %>">
    <a class="page-link" href="/orders?page=<%= i %>"><%= i %></a>
  </li>
  <% } %>
</ul>

<!-- Footer Start -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded-top p-4">
    <div class="row">
      <div class="col-12 col-sm-6 text-center text-sm-start">
        &copy; <a href="#">Your Site Name</a>, All Right Reserved.
      </div>
      <div class="col-12 col-sm-6 text-center text-sm-end">
        Designed By <a href="https://htmlcodex.com">HTML Codex</a><br>
        Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/lib/chart/chart.min.js"></script>
<script src="/admin/lib/easing/easing.min.js"></script>
<script src="/admin/lib/waypoints/waypoints.min.js"></script>
<script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
<script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Custom Scripts -->
<script>
  function updateStatus(orderId) {
    const newStatus = document.getElementById(`changeStatus-${orderId}`);
    let status = newStatus.value;

    fetch('/admin/updateStatus', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        status: status,
        orderId: orderId
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        alert('Order status changed successfully.');
        window.location.href = '/admin/orderList';
      } else {
        alert('Error updating order status: ' + data.message);
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('An error occurred while updating the status.');
    });
  }
</script>

<!-- Template Javascript -->
<script src="/admin/js/main.js"></script>
<script src="/javascripts/product.js"></script>

</body>
</html>
