<%- include('../layouts/admin/header.ejs')  %>
<div class="col-12">
  <h2>Product List</h2>
  <button type="button" class="btn btn-primary" style="margin: 8px;"><a href="/product/search" class="text-light">Search Product</a></button>
  <button type="button" class="btn btn-primary" style="margin: 8px;"><a href="/product/addProduct" class="text-light">Add New Product</a></button>
  <div class="bg-light rounded h-100 p-4">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Size & stock</th>
            <th scope="col">Price</th>
            <th scope="col">color</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <% if(product.length > 0){ %>
            <% for(let i = 0; i < product.length; i++){ %>
              <tr <% if(product[i].is_blocked) { %>
                style='background-color:yellow'<% } %>>
                <td><%= i+1 %></td>
                <td><%= product[i].name %></td>
                <td><%= product[i].brand %></td>
                <td><%= product[i].description %></td>
                <td><%= product[i].category ? product[i].category.name : 'N/A' %></td>
                <td>
                  <% product[i].size.forEach((size) => { %>
                    <%= size.size %> (<%= size.stock %>)
                  <% }) %>
                </td>
                <td><%= product[i].price %></td>
                <td>
                  <div style="display: inline-block; background-color: <%= product[i].color %>;
                  width: 10px;
                  height: 10px;
                  border: 1px solid rgb(14, 15, 14);
                  "></div>
                    <%= product[i].color %>
                </td>
                <td><% if(product[i].image){ %>
                  <a href="/product/showImages?id=<%= product[i]._id %>"><img src="/uploads/<%= product[i].image[0] %>" style="width: 50px; height: 60px;" alt="product Image"></a>
                  <% } else { %>
                  <span> NO Image Available </span>
                  <% } %>
                </td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">
                      <a href="/product/edit-product?id=<%= product[i]._id %>" class="text-light">Edit</a>
                    </button>
                    <button type="button" class="btn btn-primary">
                      <a href="/product/delete-product?id=<%= product[i]._id %>" class="text-light">Delete</a>
                    </button>
                    <button type="button" class="btn btn-primary">
                      <% if(!product[i].softDelete) {%>
                      <a href="/product/softdeleteproduct?id=<%= product[i]._id %>" class="text-light">Unlink</a>
                      <% }else{ %>
                      <a href="/product/removeSoftDeleteP?id=<%= product[i]._id %>" class="text-light">Link</a>
                      <% } %> 
                    </button>
                    <button type="button" class="btn btn-primary"> <a href="/product/offers?id=<%= product[i]._id %>" class="text-light">Offer</a></button>
                  </div>
                </td>
              </tr>
            <% } %>
          <% } else { %>
            <tr>
              <td colspan="9">No Product</td>
            </tr>
          <% } %>
          <!-- Offer Modal -->
          </tbody>
          </table>
          
          <ul class="pagination">
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
              <a class="page-link" href="/product?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
          </ul>
          
      </ul>
    </div>
  </div>
</div>
<%- include('../layouts/admin/footer.ejs')  %>