<%- include ('../layouts/user/header.ejs')  %>

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Cart</h1>
                </div>
            </div>
            <div class="col-lg-7">
                
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<%- include('../partials/breadcrumbs.ejs')  %>
<div id="errorMessage" style="display: none; color: red; margin: 10px;"></div>

<div class="untree_co-section before-footer-section">
    <div class="container">
        <div class="row mb-5">
            <div class="site-blocks-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="product-thumbnail">Image</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-total">Total</th>
                            <th class="product-remove">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% productList.forEach(product => { %>
                        <tr class="product-row" data-product-id="<%= product._id %>">
                          <td class="product-thumbnail">
                            <% if (product.image && product.image.length > 0) { %>
                            <img src="uploads/<%= product.image[0] %>" alt="Image" class="img-fluid">
                            <% } else { %>
                            <p>No image available</p>
                            <% } %>
                          </td>
                          <td class="product-name">
                            <h2 class="h5 text-black"><%= product.name %></h2>
                            <h6 class="h5 text-black"><%= product.size %></h6>
                          </td>
                          <td class="product-price">
                            <h2 class="h6 text-black"><i class="bi bi-currency-rupee"></i><%= product.price %></h2>
                          </td>
                          <td>
                            <button class="cart-item-count mr-3 decrease-quantity" onclick="changeQuantity('<%= product._id %>', '<%= product.productId %>', -1, '<%= product.size %>', '<%= product.stock %>')">-</button>
                            <span id="quantityNumber_<%= product.productId %>"><%= product.quantity %></span>
                            <button class="cart-item-count mr-3 increase-quantity" onclick="changeQuantity('<%= product._id %>', '<%= product.productId %>', 1, '<%= product.size %>', '<%= product.stock %>')">+</button>
                            <div class="error text-danger" id="quantity-error"></div>
                          </td>
                          <td class="product-total" id="productTotal_<%= product.productId %>">
                            <i class="bi bi-currency-rupee"></i><%= product.price * product.quantity %>
                          </td>
                          <td>
                            <button type="button" class="btn btn-black btn-sm remove-product-btn" onclick="deleteProduct('<%= product.productId %>', '<%= product.size %>')"><i class="bi bi-trash"></i></button>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <button class="btn btn-black btn-sm btn-block">Update Cart</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-outline-black btn-sm btn-block"><a href="/">Continue Shopping</a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="text-black h4" for="coupon">Coupon</label>
                        <p>Enter your coupon code if you have one.</p>
                    </div>
                    <div class="col-md-8 mb-3 mb-md-0">
                        <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-black">Apply Coupon</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Subtotal</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black subtotal-amount"><i class="bi bi-currency-rupee"></i><%= total %></strong>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black total-amount"><i class="bi bi-currency-rupee"></i><%= total %></strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='/checkout'">Proceed To Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">
        <div class="sofa-img">
            <img src="images/logo1.png" alt="Image" class="img-fluid">
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center"><span class="me-1"><img src="images/envelope-outline.svg" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>
                    <form action="#" class="row g-3">
                        <div class="col-auto">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Trend Setter<span>.</span></a></div>
                <p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>
                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Knowledge base</a></li>
                            <li><a href="#">Live chat</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Our team</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Nordic Chair</a></li>
                            <li><a href="#">Kruzo Aero</a></li>
                            <li><a href="#">Ergonomic Chair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a> <!-- License information: https://untree.co/license/ -->
                    </p>
                </div>
                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->
<script src ="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
        <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
    </svg>
</script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>
<script>
  function showErrorMessage(message) {
        let errorMessageElement = document.getElementById('errorMessage');
        errorMessageElement.innerHTML = message;
        errorMessageElement.style.display = 'block';
    }

    function hideErrorMessage() {
        let errorMessageElement = document.getElementById('errorMessage');
        errorMessageElement.style.display = 'none';
    }
    function changeQuantity(cartId, productId, count, size, stock) {
  console.log(`Cart ID: ${cartId}, Product ID: ${productId}, Count: ${count}`);
  let quantityElement = document.getElementById(`quantityNumber_${productId}`);
  let currentQuantity = parseInt(quantityElement.innerHTML);
  hideErrorMessage();

  if (currentQuantity + count <= 0) {
    deleteProduct(productId, size);
  } else {
    $.ajax({
      url: '/cart/updateQuantity',
      method: 'POST',
      data: {
        cart: cartId,
        product: productId,
        count: count,
        size: size,
        stock: stock
      },
      success: (response) => {
        console.log('AJAX Response:', response); // Debugging: Log the response

        if (response.success) {
          // Update the quantity
          quantityElement.innerHTML = response.newQuantity;

          // Update the total price for this product
          let totalElement = document.getElementById(`productTotal_${productId}`);
          totalElement.innerHTML = `<i class="bi bi-currency-rupee"></i>${response.newTotalPrice}`;

          // Update the cart totals
          document.querySelector('.subtotal-amount').innerHTML = `<i class="bi bi-currency-rupee"></i>${response.cartSubtotal}`;
          document.querySelector('.total-amount').innerHTML = `<i class="bi bi-currency-rupee"></i>${response.cartTotal}`;
        } else {
          showErrorMessage(response.message);
        }

        if (response.newQuantity === 0) {
          quantityElement.innerHTML = 'Out of Stock';
        }
      },
      error: (error) => {
        console.error('AJAX Error:', error);
        showErrorMessage('An error occurred while updating the cart');
      }
    });
  }
}

    function deleteProduct(productId,size) {
        $.ajax({
            url: '/cart/delete',
            method: 'POST',
            data: {
                productId: productId,
                size:size
            },
            success: (response) => {
                if (response.success) {
                    swal("Remove!", "Your item has been successfully removed.", "success", {
									button: "ok",
									}).then((value)=>{
										if(value){
											window.location.reload();
										}
									})
                } else {
                    showErrorMessage(response.message);
                }
            },
            error: (error) => {
                console.error('AJAX Error:', error);
                showErrorMessage('An error occurred while deleting the product');
            }
        });
    }

    //---------------product details----------------
    function showDetails(productId) {
        // Redirect to the product details page with the product ID
        window.location.href = '/productDetails?id=' + productId;
    }

    //--------------changing the images---------------
    function changeMainImage(newImageSrc) {
        document.getElementById('myimage').src = '/uploads/' + newImageSrc;
    }

    //----------------changing nav bar activation--------------
    function changingNavBar() {
        let bar = document.getElementById("navbarsTrend");
        if (bar.className === 'home') {
            bar.className += "active"
        }
    }
</script>
<script src="javascripts/zoomImage.js"></script>
</body>
</html>
