
<%- include('../layouts/user/header.ejs') %>
<style>
    .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-item {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-thumbnail {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-details {
    padding: 1rem;
}

.product-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.product-price {
    font-weight: bold;
}

</style>

<div class="borderNav">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Products</h1>
          </div>
        </div>
        <div class="col-lg-7"></div>
      </div>
    </div>
  </div>
  <%- include('../partials/breadcrumbs.ejs')  %>
  <div class="col-lg-12 m-3">
    <form id="searchForm" action="/searchProduct" method="get">
      <div class="container">
        <div class="row justify-content-center align-items-center d-flex">
          <div class="col-md-4 mb-2">
            <input type="search" name="search" class="form-control" placeholder="Search Product...">
          </div>
          <div class="col-md-2 mb-2">
            <select name="sort" class="form-control">
              <option value="">Sort By</option>
              <option value="popularity">Popularity</option>
              <option value="price_low_high">Price: Low to High</option>
              <option value="price_high_low">Price: High to Low</option>
              <option value="average_ratings">Average Ratings</option>
              <option value="featured">Featured</option>
              <option value="new_arrivals">New Arrivals</option>
              <option value="a_to_z">A - Z</option>
              <option value="z_to_a">Z - A</option>
            </select>
          </div>
          <div class="col-md-2 mb-2">
            <select name="category" class="form-control">
              <option value="">Category</option>
              <option value="men">Men</option>
              <option value="women">Women</option>
              <option value="kids">Kids</option>
              <option value="footwear">FootWear</option>
            </select>
          </div>
          <div class="col-md-2 mb-2">
            <button class="btn btn-primary w-100" type="submit">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
      <div class="row">
        <% product.forEach(function(item, index) { %>
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          
          <a class="product-item" onclick="showDetails('<%= item._id %>')">
            <img
              src="/uploads/<%= item.image[0] %>"
              class="img-fluid product-thumbnail"
              style="height: 300px; width: 250px"
            />
            <h3 class="product-title"><%=item.name %></h3>
            
            <% if (item.bestOffer) { %>
              <strong class="product-price"
              ><del><i class="bi bi-currency-rupee"></i><%= item.price %></del> <i class="bi bi-currency-rupee"></i><%= item.bestOfferPrice %></strong
            >
              <p>Offer Price: <%= item.bestOfferPrice %></p>
              <p>Offer: <%= item.bestOffer.offer %> % off</p>
            <% }else{ %>
              <strong class="product-price"
              ><i class="bi bi-currency-rupee"></i><%= item.price %></strong
            >
              <% } %>
            <span class="icon-cross">
              <img src="images/cross.svg" class="img-fluid" />
            </span>
          </a>
          <a href="" onclick="addToWishlist('<%= item._id %>')"id="wishlistIcon_<%= item._id %>"><i class="bi bi-heart"></i></a>
        </div>
        <% }); %>
        <!-- End Column 1 -->
      </div>
    </div>
  </div>
  <%if(wishlistItems.length===0){%>

  <% }else{ %>
  <h2>My Wishlist</h2>
  <div class="untree_co-section product-section before-footer-section">
    <div class="container">
      <div class="row">
        <% wishlistItems.forEach(function(item) { %>
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          
          <a class="product-item" onclick="showDetails('<%= item.id %>')">
            <img
              src="/uploads/<%= item.image[0] %>"
              class="img-fluid product-thumbnail"
              style="height: 300px; width: 250px"
            />
            <h3 class="product-title"><%=item.name %></h3>
            <strong class="product-price"
              ><i class="bi bi-currency-rupee"></i><%= item.price %></strong
            >
  
            <span class="icon-cross">
              <img src="images/cross.svg" class="img-fluid" />
            </span>
          </a>
          <a href="" onclick="addToWishlist('<%= item._id %>')"id="wishlistIcon_<%= item._id %>"><i class="bi bi-heart"></i></a>
        </div>
        <% }); %>
        <!-- End Column 1 -->
      </div>
    </div>
  </div>
  <% } %>
  

<script>
    // Get the input field
    var searchInput = document.getElementById('searchInput');

    // Add an event listener to listen for changes in the input field
    searchInput.addEventListener('input', function() {
        // Get the search query
        var query = searchInput.value.trim().toLowerCase();

        // Get all product items
        var products = document.querySelectorAll('.product-item');

        // Loop through each product item
        products.forEach(function(product) {
            // Get the product title
            var title = product.querySelector('.product-title').textContent.toLowerCase();

            // Show or hide the product based on whether the title contains the search query
            if (title.includes(query)) {
                product.style.display = 'block'; // Show product
            } else {
                product.style.display = 'none'; // Hide product
            }
        });
    });
    function addToWishlist(productId){
      fetch('/addToWishlist', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId: productId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                swal("Added", "product added to wishlist!", "success", {
      button: "ok",});
            } else {
                swal('Failed','Failed to add product to wishlist.','error',{
                  button: "ok"});
            }
        })
        .catch(error => {
            console.error('Error:', error);
            swal('error','An error occurred while adding product to wishlist.','error',{button:'ok'});
        });
    }
</script>

<%- include('../layouts/user/footer.ejs') %>