<%- include('../layouts/user/header.ejs') %>

<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Shop for Men</h1>
        </div>
      </div>
      <div class="col-lg-7"></div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row">
      <% product.forEach(function(item, index) { %>
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" onclick="showDetails('<%= item.id %>')">
          <img
            src="/uploads/<%= item.image[0] %>"
            class="img-fluid product-thumbnail"
            style="height: 300px; width: 250px"
          />
          <h3 class="product-title"><%=item.name %></h3>
          <strong class="product-price"
            ><i class="bi bi-currency-rupee"></i><%= item.price %></strong
          >

          <span class="icon-cross">
            <img src="images/cross.svg" class="img-fluid" />
          </span>
        </a>
      </div>
      <% }); %>
      <!-- End Column 1 -->
    </div>
  </div>
</div>

<%- include('../layouts/user/footer.ejs') %>
