<%- include ('../layouts/user/header.ejs')  %>
<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Order</h1>
                </div>
            </div>
            <div class="col-lg-7">
                
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<div class="col-md-12 mt-5 mb-5" style="padding-bottom: 150px;">
    <%if(orderForm.length >0){ %>
        <% for(let i = 0; i < orderForm.length; i++){ %>
    
    <div class="col-md-12 pl-5">
<table class="table table-info " style="font-size: 18px; ">
    <thead>
      <tr>
        <th scope="col" width="10%">#</th>
        <th scope="col"width="30%">Products</th>
        <th scope="col"width="30%">Address</th>
        <th scope="col"width="10%">Payment Method</th>
        <th scope="col"width="10%">Total Amount</th>
        <th scope="col"width="10%">Date</th>


      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><% orderForm[i].products.forEach(product => { %>
          <li>
            <strong>Name:</strong> <%= product.productName %><br>
            <strong>Price:</strong> <%= product.price %><br>
            <img src="/uploads/<%= product.image[0] %>" alt=productimage style="width: 50px; height: 60px;">
          </li>
        <% }) %></td>
        <td><%= orderForm[i].address.fullname %>,<%= orderForm[i].address.mobile %>,<%= orderForm[0].address.pincode %>
        <td><%= orderForm[i].payment %></td>
        <td><%= orderForm[i].totalAmount  %></td>
        <td><%= new Date (orderForm[i].dateOrder).toDateString()%></td>

      </tr>
    </tbody>
  </table>
</div>
<%} %>
<%} %>

</div>
<%- include ('../layouts/user/footer.ejs')  %>